@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Hambra";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./assets/fonts/ALHAMBRA.TTF");
  }
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 16px;
}

.custom-range::-webkit-slider-runnable-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.custom-range::-moz-range-track {
  height: 15px;
  background: #ccc;
  border-radius: 16px;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid purple;
  box-shadow: -407px 0 0 400px purple;
}

.custom-range::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  box-shadow: -407px 0 0 400px purple;
}
